<article class="category-dropdown-wrapper">
    <section class="category-dropdown">
        <div class="flex items-center">
            <div class="category-icon">
                <i class="fas fa-broadcast-tower"></i>
            </div>
            <p class="dropdown-title ml-4 card-title uppercase">Title</p>
        </div>
    
        <i class="dropdown-arrow fas fa-chevron-right text-3xl"></i>
    </section>
    <div class="dropdown-content">
        
    </div>
</article>