<header class="header flex-none">
    <div class="nav-left w-10">
        <% if(showBack) { %>
            <a href="/" class="nav-icon nav-icon-back"><i class="fas fa-chevron-left"></i></a>
        <% } else { %>
            <a href="/archive" class="nav-icon nav-icon-archive"><i class="fas fa-inbox"></i></a>
        <% } %>
    </div>

    <p class="section-heading"><%= title %></p>
    
    <div class="nav-right w-10 text-right">
        <% if(showSettings) { %>
            <a href="/settings" class="nav-icon nav-icon-settings"><i class="fas fa-cog"></i></a>
        <% } %>
    </div>
</header>