<article class="w-full bg-white flex p-2 border-b border-gray-600">
    <img class="news-item-icon rounded-full w-32 h-32 p-4 flex-none" src="https://randomuser.me/api/portraits/women/17.jpg">

    <div class="ml-4 h-full py-4">
        <p class="news-item-headline card-title">Headline</p>
        <p class="news-item-body card-copy relative h-16 pr-4 overflow-hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates iusto ea quae, rem voluptatibus aut facilis expedita omnis explicabo.</p>
    </div>
</article>