<section class="w-full bg-white flex h-32 p-6 border-b border-gray-600">
    <img class="rounded-full" src="">

    <div class="ml-4">
        <p class="card-title">Headline</p>
        <p class="card-copy relative h-16 pr-4 overflow-hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates iusto ea quae, rem voluptatibus aut facilis expedita omnis explicabo.</p>
    </div>
</section>