<section class="search-bar">
    <div class="relative h-full">
        <i class="fas fa-search absolute inset-y-0 right-0 m-4 text-gray-400"></i>
        <input type="text" placeholder="Search here" class="search-input">
    </div>
</section>