<section class="w-full border-solid border-b border-gray-600 h-24 p-6 bg-white">
    <div class="relative h-full">
        <i class="fas fa-search absolute inset-y-0 right-0 m-4 text-gray-400"></i>
        <input type="text" placeholder="Search here" class="bg-gray-200 w-full h-full rounded pl-10 text-gray-600 placeholder-gray-600">
    </div>
</section>