<%- include("../partials/head-start") -%>

    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/settings.css">

<%- include("../partials/head-end") -%>

    <div class="flex flex-col h-full">
        <%- include("../partials/header", {title: "News settings", showSettings: false, showBack: true}) -%>
    
        <main class="main-element text-center px-4 py-10 overflow-y-auto">
            <p class="primary-heading settings-heading">Manage</p>
            <p class="sub-title">Categories</p>

            <section class="settings-container bg-white my-16 shadow flex flex-col overflow-hidden">
                
            </section>

            <button class="card-copy dark-mode-button border border-gray-600 p-4 rounded-full uppercase mb-4">Toggle Dark Mode</button>

            <p class="text-gray-600 font-light">Version 1.0</p>
        </main>
    </div>


    <template class="template-option-wrapper">
        <article class="option-wrapper">
            <p class="card-title"></p>
            <input class="option-checkbox" type="checkbox" id="" url="" hidden>
            <label for="" class="option-label h-full">
                <div class="toggle-input">
                    <div class="toggle-input-circle"></div>
                </div>
            </label>
        </article>
    </template>


    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/tutorial.js"></script>

<%- include("../partials/body-end") -%>