@import "fonts.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

html, body {
    font-size: 32px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.nav-icon {
    background: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    bottom: -0.5rem;
    box-sizing: content-box;
    padding: 0.5rem;
    
    @apply text-3xl align-bottom leading-none relative;
}

.header {
    @apply w-full border-solid border-b border-gray-600 h-32 flex justify-between items-end p-8 pt-4 bg-white;
}


/* Dark mode */
.dark-mode {
    @apply bg-gray-900 text-white;
}

.dark-mode .header {
    @apply bg-gray-800 text-white;
}