@import "base.css";

.news-item {
    transition: transform 0.5s ease;
}

.news-item-body::after {
    content: "...";
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
}

.news-item-button {
    @apply flex-none w-32 p-2 h-32 flex justify-center items-center box-content text-white text-2xl;
}

.category-dropdown-wrapper .dropdown-content {
    height: 0;
    overflow: hidden;
}