@import "base.css";

.news-item-body::after {
    content: "...";
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
}

.category-dropdown-wrapper .dropdown-content {
    height: 0;
    overflow: hidden;
}