@import "base.css";

body {
    overflow: hidden;
    overscroll-behavior-y: contain;
}

.dragging {
    touch-action: none;
}

.settings-container {
    border-radius: 1.5rem;
}

.option-wrapper {
    @apply flex items-center justify-between h-24 py-6 px-8 w-full uppercase border-b border-gray-600 bg-white relative flex-none;
}

.option-wrapper.animate-up {
    animation: animate-up 0.5s;
}

.option-wrapper.animate-down {
    animation: animate-down 0.5s;
}

@keyframes animate-up {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animate-down {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.option-wrapper.order-4 {
    @apply border-0;
}

.toggle-input {
    @apply rounded-full bg-gray-200 h-full w-20 relative;
    transition: background-color 0.5s ease;
}

.toggle-input-circle {
    @apply transform rounded-full shadow-2xl bg-white absolute h-10 w-10 inset-y-0 left-0 m-1;
    transition: transform 0.5s ease;
}

.main-element {
    overscroll-behavior: contain;
}

.dragging .main-element {
    
}


:checked ~ label .toggle-input {
    background-color: #87BCBF;
}

:checked ~ label .toggle-input .toggle-input-circle {
    @apply translate-x-8;
}

.settings-heading {
    color: #87BCBF;
}

.dark-mode-button {
    font-family: "Barlow";
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.dark-mode-button:focus {
    outline: none;
}


.dark-mode .settings-heading {
    color: #87BCBF;
}

.dark-mode .settings-container {
    @apply bg-gray-800;
}

.dark-mode .option-wrapper {
    @apply bg-gray-800;
}

.dark-mode .toggle-input {
    @apply bg-gray-900;
}

.dark-mode :checked ~ label .toggle-input {
    background-color: #87BCBF;
} 

.dark-mode .toggle-input-circle {
    @apply bg-gray-700;
}